.navigation {
    background-color: #1f2937;
    color: #fff;
}

.navigation-container {
    display: flex;    
    flex: 1;    
}

.logo-container {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 24px;
}

.links-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0.75;    
    }

.links-nav a {
    color: #e5e7eb;
    font-size: 18px;    
}

