.navigation {
    background-color: #1f2937;
    color: #fff;
}

.navigation-container {
    display: flex;    
    flex: 1;    
}

.logo-container {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 24px;
    color: #f9faf8
}

.links-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0.75;    
    }

.links-nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none; 
}

.first-section {
    /* height: 450px;*/
    display:flex;
    background-color: #1f2937;
    
    
}

.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;   
}

.description h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    align-self:last baseline;

}

.description p {
    font-size: 18px;
    color: #e5e7eb;
    align-self:last baseline;
}

.placeholder-image {
    width: auto;
    height:auto;
    background-color: #1f2937;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.placeholder-image img {
    background-color: grey;
    width: 450px;
    height: 175px;
    align-self: center;
}

.description .button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    align-self:last baseline
}

.description .button:hover {
    background-color: #0056b3;
}